footer {
    background-color: #ddd;
    .content {
    padding-top: 50px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 15px;
    position: relative;
    .blog {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        h2 {
            color: #777;
        }
        .article {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        .image {
            img {
            max-width: 100%;
            border: 2px solid #777;
            }
        }
        .info {
            h2 {
            margin: 0 0 5px 0;
            color: $redColor;
            text-transform: capitalize;
            }
            p {
            color: #777;
            margin: 0;
            }
        }
        }
    }
    .details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        h2 {
        color: #777;
        }
        .info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h4 {
            margin-bottom: 5px;
        }
        }
    }
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        h2 {
        color: #777;
        }
        input {
        border: none;
        box-shadow: 10px 10px 10px #777;
        @include prefixer(border-radius, 5px);
        width: 100%;
        padding: 15px 10px;
        font-size: 18px;
        }
        textarea {
        border: none;
        box-shadow: 10px 10px 10px #777;
        @include prefixer(border-radius, 5px);
        width: 100%;
        padding: 15px 10px;
        font-size: 18px;
        height: 180px;
        }
    }
    .copyright {
        position: absolute;
        bottom: 20px;
        width: 100%;
        > span {
        width: 100%;
        position: absolute;
        height: 2px;
        background-color: #666;
        bottom: 50px;
        }
        .rights {
        span {
            color: #777;
        }
        }
    }
    }
}
